@page
@model Dibs.Pages.Meetings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details: @Html.DisplayFor(model => model.Meeting.Title)</h1>

<div>
    <h4>Meeting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.MeetDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.MeetDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.NumOfInvites)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.NumOfInvites)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.MeetingUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.MeetingUser.Email)
        </dd>
    </dl>
</div>

<p>Action people have taken</p>
@if (Model.Meeting.Attendees.Any())
{
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Meeting.Attendees[0].MeetingUser.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Meeting.Attendees[0].IsAttending)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Meeting.Attendees)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeetingUserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsAttending)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


<div>
    <a asp-page="./Edit" asp-route-id="@Model.Meeting.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
